[HTML]
/somevideo1seg0;_vid1.def;1024
/somevideo1seg1;_vid1.def;1024
/somevideo1seg2;_vid1.def;1024
/somevideo1seg3;_vid1.def;1024
/somevideo1seg4;_vid1.def;1024
/somevideo1seg5;_vid1.def;1024
/somevideo1seg6;_vid1.def;1024
/somevideo1seg7;_vid1.def;1024
/somevideo1seg8;_vid1.def;1024
/somevideo1seg9;_vid1.def;1024
/somevideo1seg10;_vid1.def;1024
/somevideo1seg11;_vid1.def;1024
/somevideo1seg12;_vid1.def;1024
/somevideo1seg13;_vid1.def;1024
/somevideo1seg14;_vid1.def;1024
/somevideo1seg15;_vid1.def;1024
/somevideo1seg16;_vid1.def;1024
/somevideo1seg17;_vid1.def;1024
/somevideo1seg18;_vid1.def;1024
/somevideo1seg19;_vid1.def;1024

/somevideo2seg0;_vid2.def;1024
/somevideo2seg1;_vid2.def;1024
/somevideo2seg2;_vid2.def;1024
/somevideo2seg3;_vid2.def;1024
/somevideo2seg4;_vid2.def;1024
/somevideo2seg5;_vid2.def;1024
/somevideo2seg6;_vid2.def;1024
/somevideo2seg7;_vid2.def;1024
/somevideo2seg8;_vid2.def;1024
/somevideo2seg9;_vid2.def;1024
/somevideo2seg10;_vid2.def;1024
/somevideo2seg11;_vid2.def;1024
/somevideo2seg12;_vid2.def;1024
/somevideo2seg13;_vid2.def;1024
/somevideo2seg14;_vid2.def;1024
/somevideo2seg15;_vid2.def;1024
/somevideo2seg16;_vid2.def;1024
/somevideo2seg17;_vid2.def;1024
/somevideo2seg18;_vid2.def;1024
/somevideo2seg19;_vid2.def;1024

[RESOURCES]
